.app {
    /* height: 100vh; */
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 30px;
    margin:  20px 0;
    color:royalblue;
}


.books {
    display: grid;
    padding: 30px;
    grid-template-columns: auto auto auto;
}

.book {
    text-transform: capitalize;
    flex: 1;
    margin: 20px;
    background: #e3e3e3;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    padding: 20px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn {
    width: 200px;
    height: 70px;
    border: none;
    font-size: 20px;
    border-radius: 6px;
}

.btn:hover {
    transform: scale(1.07);
    transition: all ease-in-out 0.6s ;
}

.btn:not(:hover) {
    transform: scale(1);
    transition: all ease-in-out 0.3s ;
}

img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.link {
    color: royalblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-direction: row;
    margin: 20px auto;
    padding: 10px;
}

.edit , .delete {
    border: royalblue 2px solid;
    width: 100px;
    color: royalblue;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0px;
    font-size: larger;
    border-radius: 7px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}


.edit:hover , .delete:hover {
    transform: scale(1.04);
    transition: all ease-in-out 0.4s;
}

.edit:not(:hover) , .delete:not(:hover) {
    transform: scale(1);
    transition: all ease-in-out 0.4s;
}

.delete {
    border: red 2px solid;
    color: red;
}

a {
    text-decoration: none;
}


.book:hover {
    transform: translateY(-3px);
    transition: all ease-in-out 0.4s;
}

.book:not(:hover){
    transform: translateY(3px);
    transition: all ease-in-out 0.4s;
}
